{% extends 'index.html' %}
{% block title %} adicionando nova notícia... {% endblock %}
{% block content %}

<div class="painelAddNews">
    <br/>
    
    <h2 align='center'>Centro de Adição de Notícias</h2>
    <br/><br/>
    <hr>
    <form name='sendNewsForm' enctype='multipart/form-data' action="/news/save_news" method="post">
             <div class="input-group input-group-sm mb-3" style="width: 30rem;text-align:center">
            <span class="input-group-text" id="inputGroup-sizing-sm" required><small>Título da Notícia: </small></span>
            <input type="text" name='title'  class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm" required>
        </div>
        
<input id="timeJs_" type="hidden" name="time_js">

<br/><hr>

        <div class="input-group input-group-sm mb-3" style="width:40rem;text-align:center">
            <span class="input-group-text" id="inputGroup-sizing-sm" required><small>Resumo: </small></span>
            <input type="text" name='resume'  class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm" required>
        </div>
 
 <br/><hr>
        
        <div class="input-group input-group-sm mb-3" style="width:30rem;text-align:center">
            <span class="input-group-text" id="inputGroup-sizing-sm" required><small>Categoria: </small></span>
            <input type="text" name='categoria'  class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm" required>
        </div>

<br/><hr>

         <div class="input-group input-group-sm mb-3" style="width: 15rem;text-align:center">
            <span class="input-group-text" id="inputGroup-sizing-sm" required><small>Fonte: </small></span>
            <input type="text" name='fonte'  class="form-control" aria-label="Sizing example input"  aria-describedby="inputGroup-sizing-sm" required>
        </div>

<br/><hr>

        <div class="input-group mb-3" style="width: 30rem;text-align:center">
            <input type="file" name="file" class="form-control" id="inputGroupFile02" required>
            <label class="input-group-text" name='thumbnail' for="inputGroupFile02">Imagem Thumbnail</label>
        </div>
        
<br/><br/><br/><br/><hr>

        <div class="input-group">
            <span class="input-group-text" style="background-color:#5d6966" ><small>Notícia</small></span>
            <textarea name="news" class="form-control inputNews"  style="font-size:11px"  aria-label="With textarea" required></textarea>
        </div> 
    <br/>
            <br/>
            <button id="sendNewsBt" class="btn btn-primary mb-3" style="background-color:#5C0B14;border:0">Salvar Notícia</button>
   
    </form>
   
    <script src="{{ url_for('index.static',filename='js/add_news.js') }}"></script>

{% endblock %}